header.header.header--lk
  .container
    .row
      .col-xs-12.col-sm-5.col-md-6.col-lg-8
        .logo
          a.logo__image(href="#!")
            img(src="images/logo.png", alt="logo" title="logo")
          span.logo__text.logo__text--header  Профессиональное сообщество частных репетиторов

      .col-xs-12.col-sm-7.col-md-6.col-lg-4
        .user-info
          .user-info__avatar
            img(src="https://api.fnkr.net/testimg/44x44/c4c4c4/FFF/?44x44", alt="")
          .user-info__name 
            a(href="#!") Антон Маркович
          .user-info__exit 
            a(href="#!") Выйти
            
        .info
          span.info__number +7 343 00 00 000
          a.info__mail(href="#!") mail@yandex.ru

  // container end
// header