.lk-caption
  a(href="#!").close

  ul.purple-list
    li 
      a(href="#!") Изменения договора-оферты
      span В договоре-оферте появились изменения — не пропустите важную информацию! Подробности на форуме.
      span 
        a(href="#!") Полный текст договора-оферты.

    li 
      a(href="#!") Приложение для iPhone и Android
      span Выпущено мобильное приложение для репетиторов «Бэкофис PROFI.RU».
      span Вы можете загрузить его через AppStore или Play Маркет.
      span Вопросы и предложения обсуждаются в темах на форуме: iPhone, Android.