// #footer
script(src='js/jquery-2.2.0.min.js')
script(src='js/jquery-ui-1.10.4.custom.min.js')
script(src='js/jquery.mCustomScrollbar.js')
script(src='js/jquery.formstyler.min.js')
script(src='js/owl.carousel.min.js')
script(src='js/inputmask.min.js')
script(src='js/jquery.inputmask.js')
script(src='js/bootstrap.min.js')
script(src='js/main.js')