doctype html
html(xmlns='http://www.w3.org/1999/xhtml')

  //= template/head.jade

  body
    #wrapper

      //= template/header.jade

      section.middle.about-company
        .container
          .content
            .about-project
              .title-h1 О проекте
              .about-project__item
                p Специалистам в области образования мы даём возможность заниматься своим делом, вместо того чтобы расклеивать объявления в поисках учеников. Ученикам — возможность быстро, в течение одного дня, найти максимально подходящего репетитора: в своём районе, требуемой квалификации и за приемлемую цену.
              .about-project__item 
                p Наша цель — помогать людям в получении качественного образования. Мы предлагаем решения в зависимости от поставленных задач: от дошкольного развития малышей до подготовки к сдаче школьных, вступительных, а также международных экзаменов по всем предметам. </br> Все услуги для учеников (консультации, подбор репетитора) — бесплатны. 
              .about-project__item 
                p Все преподаватели при регистрации проходят собеседование, многие — аттестацию по предмету, некоторые предоставляют авторитетные рекомендации. Но главной оценкой уровня репетитора мы считаем отзывы о занятиях, которые обязательно собираем у каждого нашего клиента.

            .facts
              .facts__item
                span.facts-icon-1
                .facts__body
                  .facts__title 193430 преподавателей по 80 предметам
                  .facts__text зарегистрировано в базе данных 
              .facts__item
                span.facts-icon-2
                .facts__body
                  .facts__title 1108420 учеников
                  .facts__text нашли репетитора с нашей помощью
              .facts__item
                span.facts-icon-3
                .facts__body
                  .facts__title 944000 отзывов
                  .facts__text получино от  клиентов сервиса, 90% которых ярко положительны
              .facts__item
                span.facts-icon-4
                .facts__body
                  .facts__text мы работаем
                  .facts__title во всех городах России

            .leadership
              .title-h1 Руководство
              .leadership__item
                .leadership__image
                  img(src="https://api.fnkr.net/testimg/200x200/c4c4c4/FFF/?200x200", alt="avatar")
                .leadership__name Коломийцева Светлана Сергеевна 
                p Руководитель проекта 
                p KolomiitsevaSS@repetitors.info

              .leadership__item
                .leadership__image
                  img(src="https://api.fnkr.net/testimg/200x200/c4c4c4/FFF/?200x200", alt="avatar")
                .leadership__name Коломийцева Светлана Сергеевна 
                p Руководитель проекта 
                p KolomiitsevaSS@repetitors.info

              .leadership__item
                .leadership__image
                  img(src="https://api.fnkr.net/testimg/200x200/c4c4c4/FFF/?200x200", alt="avatar")
                .leadership__name Коломийцева Светлана Сергеевна 
                p Руководитель проекта 
                p KolomiitsevaSS@repetitors.info

        .map-block
          .title-h1 Контактная информация
          .map
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=RZHL4YzxdjXXQ1y-DGtVZJqhTlRuZVaO&amp;width=100%&amp;height=560&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true"></script>
            .container
              .map-caption
                .contacts.row
                  
                  .contacts__body
                    .contacts__title <span class="cont-location-icon"></span> Адрес для корреспонденции:
                    p.contacts__text 115419, Российская Федерация, </br> г. Москва, улица Шаболовка, дом 34, строение 3, Трифорд Лимитед
                  
                  .contacts__body
                    .contacts__title <span class="cont-phone-icon"></span> Телефон:
                    p.contacts__text 8 (495) 540-56-76

                  .contacts__body
                    .contacts__title <span class="cont-mail-icon"></span> Email:
                    a(href="#!").contacts__text adm@repetitors.info

        .container
          .review-wrap
            .title-h1 Отзывы клиентов
            .owl-carousel.clients-carousel
              .item
                .review-block Большое счастье, что мы встретили эту замечательную девушку на нашем пути к сдаче ЕГЭ. Несмотря на свой юный возраст , она проявила себя ответственным и профессиональным педологом!! За столь короткое время (с февраля до мая) она смогла прекрасно подготовить к предстоящим испытаниям. Марина Михайловна успела охватить все темы, нужные определения заучивались и регулярно повторялись, была наработана огромная база аргументов для эссе и т.д. . В результате такого подхода задания экзамена были понятны , тонкости отдельных заданий проработаны. Результат более 80 балов. Отдельно хочется отметить добродушие и коммуникабельность преподавателя, каждое занятие было радостью общения с интересным и умным наставником.
              .item
                .review-block Большое счастье, что мы встретили эту замечательную девушку на нашем пути к сдаче ЕГЭ. Несмотря на свой юный возраст , она проявила себя ответственным и профессиональным педологом!! За столь короткое время (с февраля до мая) она смогла прекрасно подготовить к предстоящим испытаниям. Марина Михайловна успела охватить все темы, нужные определения заучивались и регулярно повторялись
              .item
                .review-block Большое счастье, что мы встретили эту замечательную девушку на нашем пути к сдаче ЕГЭ. Несмотря на свой юный возраст , она проявила себя ответственным и профессиональным педологом!! За столь короткое время (с февраля до мая) она смогла прекрасно подготовить к предстоящим испытаниям. Марина Михайловна успела охватить все темы, нужные определения заучивались и регулярно повторялись, была наработана огромная база аргументов для эссе и т.д. . В результате такого подхода задания экзамена были понятны , тонкости отдельных заданий проработаны. Результат более 80 балов. Отдельно хочется отметить добродушие и коммуникабельность преподавателя, каждое занятие было радостью общения с интересным и умным наставником.
            .text-center 
              a(href="#!").read-more читать все отзывы
          
          .review-wrap
            .title-h1 Отзывы преподавателей
            .owl-carousel.teacher-carousel
              .item
                .review-block Отличный сервис: сайт с подробной информацией и удобным интерфейсом, оперативный ответ на заказ, профессиональные администраторы, большая база преподавателей по всем предметам. Отдельная благодарность администраторам Ирине Анатольевне и Елене Валерьевне за квалифицированную помощь.
              .item
                .review-block Учить этот язык была инициатива Артема, но у нас в небольшом городке найти репетитора не удалось. Случайно в интернете зашла на сайт "Ваш репетитор" и скорее для формальности оставила заявку. К моему удивлению администраторы сайта вскоре откликнулись, подобрали нам репетитора (с учетом всех наших пожеланий) и вечером мы уже знакомились по скайпу с Ириной Владимировной.
              .item
                .review-block Очень рада сотрудничеству с сервисом "Ваш репетитор"! Благодаря этому мы нашли хорошего репетитора для своего сына по английскому языку. Очень довольны результатом, так как за четверть вышла оценка "5"! В дальнейшем будем продолжать сотрудничать и рекомендовать своим друзьям!

            .text-center 
              a(href="#!").read-more читать все отзывы
          



      //= template/footer.jade
