doctype html
html(xmlns='http://www.w3.org/1999/xhtml')

  //= template/head.jade

  body
    #wrapper

      //= template/header-lk.jade

      section.middle
        .lk-middle-wrap
          .lk-content
            h1.title-h1 О проекте
            .lk-about-company
              .lk-about-company__section
                .row
                  .col-md-6
                    p Специалистам в области образования мы даём возможность заниматься своим делом, вместо того чтобы расклеивать объявления в поисках учеников. Ученикам — возможность быстро, в течение одного дня, найти максимально подходящего репетитора: в своём районе, требуемой квалификации и за приемлемую цену.
                  .col-md-6
                    p Наша цель — помогать людям в получении качественного образования. Мы предлагаем решения в зависимости от поставленных задач: от дошкольного развития малышей до подготовки к сдаче школьных, вступительных, а также международных экзаменов по всем предметам.
                    p Все услуги для учеников (консультации, подбор репетитора) — бесплатны. 

              .lk-about-company__section
                p Все преподаватели при регистрации проходят собеседование, многие — аттестацию по предмету, некоторые предоставляют авторитетные рекомендации. Но главной оценкой уровня репетитора мы считаем отзывы о занятиях, которые обязательно собираем у каждого нашего клиента.

              .title-h1 Цифры и факты

              .lk-about-company__section

                .facts
                  .facts__item.facts__item--small
                    span.facts-icon-11
                    .facts__body
                      .facts__title 193430 преподавателей по 80 предметам
                      .facts__text зарегистрировано в базе данных 
                  .facts__item.facts__item--small
                    span.facts-icon-12
                    .facts__body
                      .facts__title 1108420 учеников
                      .facts__text нашли репетитора с нашей помощью
                  .facts__item.facts__item--small
                    span.facts-icon-13
                    .facts__body
                      .facts__title 944000 отзывов
                      .facts__text получино от  клиентов сервиса, 90% которых ярко положительны
                  .facts__item.facts__item--small
                    span.facts-icon-14
                    .facts__body
                      .facts__text мы работаем
                      .facts__title во всех городах России

              .lk-about-company__section
                .title-h1 Руководство
                .leadership
                  .leadership__item
                    .leadership__image.leadership__image--width-175
                      img(src="https://api.fnkr.net/testimg/175x175/c4c4c4/FFF/?175x175", alt="avatar")
                    .leadership__name Коломийцева Светлана Сергеевна 
                    p Руководитель проекта 
                    p KolomiitsevaSS@repetitors.info

                  .leadership__item
                    .leadership__image.leadership__image--width-175
                      img(src="https://api.fnkr.net/testimg/175x175/c4c4c4/FFF/?175x175", alt="avatar")
                    .leadership__name Коломийцева Светлана Сергеевна 
                    p Руководитель проекта 
                    p KolomiitsevaSS@repetitors.info

                  .leadership__item
                    .leadership__image.leadership__image--width-175
                      img(src="https://api.fnkr.net/testimg/175x175/c4c4c4/FFF/?175x175", alt="avatar")
                    .leadership__name Коломийцева Светлана Сергеевна 
                    p Руководитель проекта 
                    p KolomiitsevaSS@repetitors.info

          .lk-aside

            nav.navbar.navbar-default.aside-navbar(role='navigation')

              // Brand and toggle get grouped for better mobile display
              .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                  span.sr-only Toggle navigation
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
              // Collect the nav links, forms, and other content for toggling
              #bs-example-navbar-collapse-1.collapse.navbar-collapse
                ul.nav.navbar-nav
                  li
                    a(href='#') Главня
                  li
                    a(href='#') Поиск заказов
                  li.active
                    a(href='#') Ваша анкета
                  li
                    a(href='#') заказы
                  li
                    a(href='#') заявки
                  li
                    a(href='#') отчеты
                  li
                    a(href='#') способ оплаты
                  li 
                    a(href='#') часто задаваемые вопросы
                  li
                    a(href='#') документы
                  li
                    a(href='#') о компании
                  li
                    a(href='#') сертификация

                // /.navbar-collapse

            .aside-banner
              .phone
                span 8 (495) 000-00-00
                span 8 (800) 000-00-00
              a(href="#!").mail mail@repetitors.info

              a(href="#!").btn.btn-max позвоните мне
