doctype html
html(xmlns='http://www.w3.org/1999/xhtml')

  //= template/head.jade

  body
    #wrapper

      //= template/header-lk.jade

      section.middle
        .lk-middle-wrap
          .lk-content

            .caption-lk-wrap
              //= template/lk-caption.jade
              //= template/lk-caption.jade


            .anketa
              .lk-title.inline-block Ваша анкета

              .settings
                span видна 
                  a(href="#!") на сайте
                span Ваши 
                  a(href="#!") отзывы
              
              .anketa__section

                .basic-info
                  .basic-info__avatar
                    img(src="https://api.fnkr.net/testimg/105x105/c4c4c4/FFF/?105x105", alt="")
                  .basic-info__body

                    .basic-info__panel
                      span.basic-info__title Ваш логин:
                      span.basic-info__nickname KomlevaAA
                      a(href="#!").btn.btn-purple изменить пароль
                    
                    ul.basic-info__settings
                      li.basic-info__title Вы хотите получать новые заказы
                      li.basic-info__title Вы хотите получать общую рассылку
                      li.basic-info__title Получать на email потенциально подходящие заказы

                    ul.data-list
                      li
                        .data-list__title Рейтинг
                        .data-list__value
                          ul.rating
                            li.current(style="width:20%")
                              span.star1
                            li
                              span.star2
                            li
                              span.star3
                            li
                              span.star4
                            li
                              span.star5

                      li
                        .data-list__title Ваш баланс
                        .data-list__value -
                      li
                        .data-list__title Договор оферты
                        .data-list__value №181920
                      li
                        .data-list__title Сертификация
                        .data-list__value
                          a(href="#!") пройти

              .anketa__section
                .lk-subtitle Личные данные:
    
                ul.data-list
                  li
                    .data-list__title ФИО *
                    .data-list__value Комлева Алёна Анатольевна

                  li
                    .data-list__title Телефон *
                    .data-list__value 8 (924) 444-****

                  li
                    .data-list__title Email *
                    .data-list__value for*******@*****.***

                  li
                    .data-list__title Логин skype,
                      span если ведёте занятия удалённо
                    .data-list__value alen*********
              
              .anketa__section
                .lk-subtitle Услуги и цены
                p.color-grey Подготовка к экзаменам   Международные экзамены по китайскому </br> HSK = 1000 руб. / ч
                p Китайский язык = 1000 руб. / ч  </br>  Деловой китайский язык = 1000 руб. / ч
                p Дистанционно (Скайп) = 1000 руб. / ч 

              .anketa__section
                .lk-subtitle Скидка:
              
                ul.data-list
                  li
                    .data-list__title Нет данных
                    .data-list__value

              .anketa__section
                .lk-subtitle Районы и адреса

                ul.data-list
                  li
                    .data-list__title Выезд
                    .data-list__value

                  li
                    .data-list__title У себя
                    .data-list__value

                  li
                    .data-list__title Адреса
                    .data-list__value

              .anketa__section
                .lk-subtitle Общая информация

                ul.data-list
                  li
                    .data-list__title.uppercase Факты о себе
                    .data-list__value
                      p бразование: Государственный университет управления, аспирантура кафедры управления природопользованием и экологической безопасностью, специальность – управление народным хозяйством, 3 год обучения; Благовещенский государственный педагогический университет, факультет иностранных языков, специальность – учитель китайского и английского языков (2009 г.).
                      p Призер Международного конкурса китайского языка (г. Цицикар, 2006 г.).
                      p Курсы «Профессиональная этика переводчика» (диплом, 2008 г.).
                      p Курсы «Стилистический перевод текстов с русского на китайский и с китайского на русский (2007 г.).
                      p Опыт преподавания – 4 года (2007-2010 гг.):
                      p • с 2007 года – школа №28 г. Благовещенска, учитель китайского языка;
                      p • с 2009 года – ГУУ, преподаватель делового китайского языка.
                      p Опыт переводческой деятельности – 5 лет. Работала переводчиком в медицинских учреждениях КНР. 
                      p Владеет навыками устного последовательного и письменного перевода с/на китайский язык. Имеет большой опыт ведения международных переговоров высокого уровня.
                      p Опыт репетиторства – 6 лет (с 2007 г.). 

                  li
                    .data-list__title.uppercase Требования
                    .data-list__value
                      p С 5 класса и до взрослого возраста. До продвинутого уровня включительно. Базовый, разговорный, деловой. Подготовка студентов всех факультетов 1-5 курсов к экзаменам. 
                      .row
                        .col-md-6.col-lg-4
                          .requirements
                            p.requirements-title Допустимые возрастные группы учеников:
                            p Студенты вузов

                          .requirements
                            p.requirements-title Пол учеников:
                            p Нет данных

                        .col-md-6.col-lg-4
                          .requirements
                            p.requirements-title Допустимые текущие уровни учеников:
                            p Proficiency
                            p Advanced
                            p Intermediate
                            p Elementary
                            p Beginner
                            p Начальный
                            p Слабый (оценка 2-3)
                            p Средний (оценка 3-4)
                            p Хороший (оценка 4-5)
                            p Отличный (оценка 5+)

                        .col-md-12.col-lg-4
                          .requirements
                            p.requirements-title Допустимые цели обучения:
                            p Для себя
                            p Для жизни
                            p Для работы
                            p Повышение успеваемости (второстепенные предметы)
                            p Олимпиады и дополнительные экзамены
                            p Повышение успеваемости (профильные предметы)
                            p Важные экзамены

                  li
                    .data-list__title.uppercase Кратко о себе
                    .data-list__value

                  li
                    .data-list__title.uppercase Подробно о себе 
                    .data-list__value

              .anketa__section
                .lk-subtitle Профессиональные данные

                ul.data-list
                  li
                    .data-list__title ВУЗ
                    .data-list__value ГУУ

                  li
                    .data-list__title Степень
                    .data-list__value Выпускник/Аспирант

                  li
                    .data-list__title Опыт
                    .data-list__value Школьный учитель

              .anketa__section
                .flex-row.space-between
                  .lk-subtitle Запрос на изменение данных анкеты
                    span ваши запросы (0 отклонено, 1 принято, 0 на модерации)

                  .btns
                    a(href="#!").btn.btn-purple-transparent моя анкета актуальна
                    span или
                    a(href="#!").btn.btn-purple редактировать анкету



          .lk-aside

            nav.navbar.navbar-default.aside-navbar(role='navigation')

              // Brand and toggle get grouped for better mobile display
              .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                  span.sr-only Toggle navigation
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
              // Collect the nav links, forms, and other content for toggling
              #bs-example-navbar-collapse-1.collapse.navbar-collapse
                ul.nav.navbar-nav
                  li
                    a(href='#') Главня
                  li
                    a(href='#') Поиск заказов
                  li.active
                    a(href='#') Ваша анкета
                  li
                    a(href='#') заказы
                  li
                    a(href='#') заявки
                  li
                    a(href='#') отчеты
                  li
                    a(href='#') способ оплаты
                  li 
                    a(href='#') часто задаваемые вопросы
                  li
                    a(href='#') документы
                  li
                    a(href='#') о компании
                  li
                    a(href='#') сертификация

                // /.navbar-collapse

            .aside-banner
              .phone
                span 8 (495) 000-00-00
                span 8 (800) 000-00-00
              a(href="#!").mail mail@repetitors.info

              a(href="#!").btn.btn-max позвоните мне
