doctype html
html(xmlns='http://www.w3.org/1999/xhtml')

  //= template/head.jade

  body
    #wrapper

      //= template/header-lk.jade

      section.middle
        .lk-middle-wrap
          .lk-content
            .sertificates

              h1.title-h1 Сертификация преподавателей компании «Ваш репетитор»
              
              .sertificates__section
                .subtitle.mb-0 Что это такое?
                p Цель сертификации репетиторов — собрать максимально подробную и достоверную информацию о вас как специалисте. Сертификация проводится бесплатно.

              .sertificates__section
                .subtitle.mb-0 Сертификация 1-го уровня (документарная):
                p проверка наличия документов об образовании и педагогическом опыте — дипломов, грамот, сертификатов и пр.;
                p актуальная фотография преподавателя;
                p составление детальной анкеты;
                p по вашему желанию может быть снят презентационный видеоролик, в котором репетитор рассказывает о своем образовании и методике преподавания.


              .sertificates__section
                .subtitle.mb-0 Сертификация 2-го уровня (предметная):
                p Оценка глубины знаний репетитора по данному предмету. Проводится в виде обширного стандартизованного теста, максимально приближенного к тем экзаменам, к которым готовит этот преподаватель (экзамены на базе ЕГЭ, TOEFL, GMAT и т.п.).
                p Для дистанционного прохождения предметной сертификации по математике зарегистрируйтесь в универсальной тестирующей системе. Сертификация по математике сейчас происходит в пробном режиме.


              .sertificates__section
                .subtitle.mb-0 Сертификация 3-го уровня (методико-педагогическая):
                p Оценка педагогических навыков преподавателя. Проводится с помощью системы специализированных тестов.


              .sertificates__section
                .subtitle.subtitle--upper Для прохождения сертификации необходимо прислать на certificate-repetitor@profi.ru следующие документы (если вы еще этого не сделали):
                p 1. Фотографию, на которой вы держите в руке паспорт, открытый на основной странице (страница с вашими ФИО и фотографией).
                p 2. Скан-копию первых двух страниц вашего паспорта — главной и с регистрацией (можно фотографии паспорта).
                p 3. Фото для анкеты портретного типа: на фотографии должно быть хорошо видно ваше лицо и часть туловища (по грудь, либо по плечи). Фон желательно выбрать однотонный и нейтральный. Фотография анфас, цветная.
                p 4. Цветные скан-копии оригиналов документов, подтверждающих информацию, размещённую в вашей анкете. Если вы присылаете сканы не с оригиналов, а с ксерокопий, то их перед сканированием необходимо заверить нотариально и лишь после этого отправить файлы.

              .sertificates__section
                p Обратите, пожалуйста, особое внимание на то, что важно отправить все документы одним письмом и в хорошем качестве. Иначе процесс сертификации может сильно затянуться.

              .sertificates__section
                .subtitle.subtitle--upper Зачем это нужно?
                p Каждый преподаватель, прошедший сертификацию, получает печать в анкету. Менеджеры при подборе репетитора на заказ отдают предпочтение прошедшим сертификацию, а клиенты, согласно нашей статистике, чаще всего выбирают именно сертифицированных педагогов.


              .sertificates__section
                p Если вы не можете предоставить нам на имейл сканы необходимых документов, вам следует записаться на очную сертификацию — по телефону (495) 505-54-12 или по имейлу certificate-repetitor@profi.ru. Мы сделаем сканы всех необходимых документов в офисе и проведём очное собеседование, во время которого по вашему желанию снимем видеоролик и сделаем фотографию.
                p <span class="color-dark">Приехать в офис можно только по предварительной записи.</span> Если вы приедете без договорённости, мы можем отказать вам в прохождении сертификации.
                p Адрес офиса: г. Москва, ст. м. «Аэропорт», ул. Авиаконструктора Микояна, д.12, БЦ «Линкор». От метро ходит бесплатный автобус (1-й вагон из центра, налево по ереходу, посадка непосредственно возле выхода из метро). С собой необходимо иметь: паспорт, документы об образовании и документы, подтверждающие информацию в вашей анкете.


          .lk-aside

            nav.navbar.navbar-default.aside-navbar(role='navigation')

              // Brand and toggle get grouped for better mobile display
              .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                  span.sr-only Toggle navigation
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
              // Collect the nav links, forms, and other content for toggling
              #bs-example-navbar-collapse-1.collapse.navbar-collapse
                ul.nav.navbar-nav
                  li
                    a(href='#') Главня
                  li
                    a(href='#') Поиск заказов
                  li.active
                    a(href='#') Ваша анкета
                  li
                    a(href='#') заказы
                  li
                    a(href='#') заявки
                  li
                    a(href='#') отчеты
                  li
                    a(href='#') способ оплаты
                  li 
                    a(href='#') часто задаваемые вопросы
                  li
                    a(href='#') документы
                  li
                    a(href='#') о компании
                  li
                    a(href='#') сертификация

                // /.navbar-collapse

            .aside-banner
              .phone
                span 8 (495) 000-00-00
                span 8 (800) 000-00-00
              a(href="#!").mail mail@repetitors.info

              a(href="#!").btn.btn-max позвоните мне
