doctype html
html(xmlns='http://www.w3.org/1999/xhtml')

  //= template/head.jade

  body
    #wrapper

      //= template/header-lk.jade

      section.middle
        .lk-middle-wrap
          .lk-content

            .caption-lk-wrap
              //= template/lk-caption.jade
              //= template/lk-caption.jade

            .table-responsive
              table.lk-table
                tr
                  th Дата / Имя
                  th Предмет / Ученик / Цель
                  th Район
                  th Формат
                  th Пол преп.
                  th Ставка
                  th Цена
                  th
                tr
                  td <span class="color-dark">6457057</span> 21 июл <span class="block">Валерия</span>
                  td методы оптимальных решений <span class="color-dark">дистанционно</span> 2 курс, АМГУ :: помощь в решении задач
                  td Благовещенск ( +6 ) <span class="block italic">дистанционно</span>
                  td с 20 августа
                  td -
                  td 650  руб.
                    span.block 90  мин
                  td 260
                  td
                    span.minus
                tr
                  td <span class="color-dark">6457057</span> 21 июл <span class="block">Валерия</span>
                  td методы оптимальных решений <span class="color-dark">дистанционно</span> 2 курс, АМГУ :: помощь в решении задач
                  td Благовещенск ( +6 ) <span class="block italic">дистанционно</span>
                  td с 20 августа
                  td -
                  td 650  руб.
                    span.block 90  мин
                  td 260
                  td
                    span.plus
                tr
                  td <span class="color-dark">6457057</span> 21 июл <span class="block">Валерия</span>
                  td методы оптимальных решений <span class="color-dark">дистанционно</span> 2 курс, АМГУ :: помощь в решении задач
                  td Благовещенск ( +6 ) <span class="block italic">дистанционно</span>
                  td с 20 августа
                  td -
                  td 650  руб.
                    span.block 90  мин
                  td 260
                  td
                    span.question-red-icon
                tr
                  td <span class="color-dark">6457057</span> 21 июл <span class="block">Валерия</span>
                  td методы оптимальных решений <span class="color-dark">дистанционно</span> 2 курс, АМГУ :: помощь в решении задач
                  td Благовещенск ( +6 ) <span class="block italic">дистанционно</span>
                  td с 20 августа
                  td -
                  td 650  руб.
                    span.block 90  мин
                  td 260
                  td
                    span.question-red-icon
                tr
                  td <span class="color-dark">6457057</span> 21 июл <span class="block">Валерия</span>
                  td методы оптимальных решений <span class="color-dark">дистанционно</span> 2 курс, АМГУ :: помощь в решении задач
                  td Благовещенск ( +6 ) <span class="block italic">дистанционно</span>
                  td с 20 августа
                  td -
                  td 650  руб.
                    span.block 90  мин
                  td 260
                  td
                    span.question-red-icon
                tr
                  td <span class="color-dark">6457057</span> 21 июл <span class="block">Валерия</span>
                  td методы оптимальных решений <span class="color-dark">дистанционно</span> 2 курс, АМГУ :: помощь в решении задач
                  td Благовещенск ( +6 ) <span class="block italic">дистанционно</span>
                  td с 20 августа
                  td -
                  td 650  руб.
                    span.block 90  мин
                  td 260
                  td
                    span.question-red-icon
                tr
                  td <span class="color-dark">6457057</span> 21 июл <span class="block">Валерия</span>
                  td методы оптимальных решений <span class="color-dark">дистанционно</span> 2 курс, АМГУ :: помощь в решении задач
                  td Благовещенск ( +6 ) <span class="block italic">дистанционно</span>
                  td с 20 августа
                  td -
                  td 650  руб.
                    span.block 90  мин
                  td 260
                  td
                    span.question-red-icon

            .text-center
              ul.status-helpers
                li
                  .icon-wrap
                    span.question-orange-icon
                  .status-helpers__title Вы назначены, но пока не договорились с клиентом.

                li
                  .icon-wrap
                    span.plus.plus-orange
                  .status-helpers__title Договорились, но работа с учеником ещё не началась.
                li
                  .icon-wrap
                    span.plus.plus-red
                  .status-helpers__title Работа началась, заказ подлежит оплате.
                li
                  .icon-wrap
                    span.plus.plus-green
                  .status-helpers__title Заказ оплачен.
                li
                  .icon-wrap
                    span.plus.plus-grey
                  .status-helpers__title Отзыв собран.
                li
                  .icon-wrap
                    span.plus
                  .status-helpers__title Заказ оплате не подлежит.

            

          .lk-aside

            nav.navbar.navbar-default.aside-navbar(role='navigation')

              // Brand and toggle get grouped for better mobile display
              .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                  span.sr-only Toggle navigation
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
              // Collect the nav links, forms, and other content for toggling
              #bs-example-navbar-collapse-1.collapse.navbar-collapse
                ul.nav.navbar-nav
                  li
                    a(href='#') Главня
                  li
                    a(href='#') Поиск заказов
                  li.active
                    a(href='#') Ваша анкета
                  li
                    a(href='#') заказы
                  li
                    a(href='#') заявки
                  li
                    a(href='#') отчеты
                  li
                    a(href='#') способ оплаты
                  li 
                    a(href='#') часто задаваемые вопросы
                  li
                    a(href='#') документы
                  li
                    a(href='#') о компании
                  li
                    a(href='#') сертификация

                // /.navbar-collapse

            .aside-banner
              .phone
                span 8 (495) 000-00-00
                span 8 (800) 000-00-00
              a(href="#!").mail mail@repetitors.info

              a(href="#!").btn.btn-max позвоните мне
