doctype html
html(xmlns='http://www.w3.org/1999/xhtml')

  //= template/head.jade

  body
    #wrapper

      //= template/header-lk.jade

      section.middle
        .lk-middle-wrap
          .lk-content
            
            // Nav tabs
            ul.nav.nav-tabs.lk-tabs
              li.active
                a(href='#home', data-toggle='tab') Главная
              li
                a(href='#profile', data-toggle='tab') Профиль
              li
                a(href='#messages', data-toggle='tab') Сообщения
              li
                a(href='#settings', data-toggle='tab') Настройки
            // Tab panes
            .tab-content.lk-tab-content
              #home.tab-pane.active ...
              #profile.tab-pane ...
              #messages.tab-pane ...
              #settings.tab-pane ...

          .lk-aside

            nav.navbar.navbar-default.aside-navbar(role='navigation')

              // Brand and toggle get grouped for better mobile display
              .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                  span.sr-only Toggle navigation
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
              // Collect the nav links, forms, and other content for toggling
              #bs-example-navbar-collapse-1.collapse.navbar-collapse
                ul.nav.navbar-nav
                  li
                    a(href='#') Главня
                  li
                    a(href='#') Поиск заказов
                  li.active
                    a(href='#') Ваша анкета
                  li
                    a(href='#') заказы
                  li
                    a(href='#') заявки
                  li
                    a(href='#') отчеты
                  li
                    a(href='#') способ оплаты
                  li 
                    a(href='#') часто задаваемые вопросы
                  li
                    a(href='#') документы
                  li
                    a(href='#') о компании
                  li
                    a(href='#') сертификация

                // /.navbar-collapse

            .aside-banner
              .phone
                span 8 (495) 000-00-00
                span 8 (800) 000-00-00
              a(href="#!").mail mail@repetitors.info

              a(href="#!").btn.btn-max позвоните мне
