doctype html
html(xmlns='http://www.w3.org/1999/xhtml')

  //= template/head.jade

  body
    #wrapper

      //= template/header-lk.jade

      section.middle
        .lk-middle-wrap
          .lk-content

            .caption-lk-wrap
              //= template/lk-caption.jade
              //= template/lk-caption.jade
            
            .lk-title Новости и объявления

            .article-list
              .article
                span.article__date 17.09.2013
                .article__title.article__title--max
                  a(href="#!") Ассоциация репетиторов запускает Индексрепетиторства
                p.article__text Ассоциация репетиторов (Repetit.ru) существует более 6 лет, и все это время остается одним из лидеров в сфере профессионального подбора репетиторов и частных преподавателей. Ежегодно мы помогаем нескольким десяткам тысяч учеников найти своих наставников...
                  a(href="#!").article__link читать далее

              .article
                span.article__date 17.09.2013
                .article__title.article__title--max
                  a(href="#!") Ассоциация репетиторов запускает Индексрепетиторства
                p.article__text Ассоциация репетиторов (Repetit.ru) существует более 6 лет, и все это время остается одним из лидеров в сфере профессионального подбора репетиторов и частных преподавателей. Ежегодно мы помогаем нескольким десяткам тысяч учеников найти своих наставников...
                  a(href="#!").article__link читать далее

              .article
                span.article__date 17.09.2013
                .article__title.article__title--max
                  a(href="#!") Ассоциация репетиторов запускает Индексрепетиторства
                p.article__text Ассоциация репетиторов (Repetit.ru) существует более 6 лет, и все это время остается одним из лидеров в сфере профессионального подбора репетиторов и частных преподавателей. Ежегодно мы помогаем нескольким десяткам тысяч учеников найти своих наставников...
                  a(href="#!").article__link читать далее

            .lk-title Последние 25 открытых заказов
              a(href="#!") (см. все новые заказы)
            
            p.color-grey Чтобы сообщить администратору о своей готовности взять конкретный заказ, следует нажать », и, прочитав подробности и убедившись, что условия вам подходят, отправить заявку. Отправка заявки предполагает, что администратор может назначить вас на этот заказ, не переспрашивая. Если вы не уверены на 100% — обязательно укажите свои соображения в комментариях к заявке. В этом списке представлены далеко не все новые заказы, т.к. большинство распределяется администраторами сразу при их поступлении. См. раздел «Вопрос-Ответ».

          .lk-aside

            nav.navbar.navbar-default.aside-navbar(role='navigation')

              // Brand and toggle get grouped for better mobile display
              .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                  span.sr-only Toggle navigation
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
              // Collect the nav links, forms, and other content for toggling
              #bs-example-navbar-collapse-1.collapse.navbar-collapse
                ul.nav.navbar-nav
                  li
                    a(href='#') Главня
                  li
                    a(href='#') Поиск заказов
                  li.active
                    a(href='#') Ваша анкета
                  li
                    a(href='#') заказы
                  li
                    a(href='#') заявки
                  li
                    a(href='#') отчеты
                  li
                    a(href='#') способ оплаты
                  li 
                    a(href='#') часто задаваемые вопросы
                  li
                    a(href='#') документы
                  li
                    a(href='#') о компании
                  li
                    a(href='#') сертификация

                // /.navbar-collapse

            .aside-banner
              .phone
                span 8 (495) 000-00-00
                span 8 (800) 000-00-00
              a(href="#!").mail mail@repetitors.info

              a(href="#!").btn.btn-max позвоните мне
