doctype html
html(xmlns='http://www.w3.org/1999/xhtml')

  //= template/head.jade

  body
    #wrapper

      //= template/header.jade

      section.middle
        .content
          .container
            h1.title-h1 Новости и объявления
            
            .article-list
              .row
                .col-sm-6
                  .article
                    span.article__date 17.09.2013
                    .article__title
                      a(href="#!") Ассоциация репетиторов запускает Индексрепетиторства
                    p.article__text Ассоциация репетиторов (Repetit.ru) существует более 6 лет, и все это время остается одним из лидеров в сфере профессионального подбора репетиторов и частных преподавателей. Ежегодно мы помогаем нескольким десяткам тысяч учеников найти своих наставников...
                      a(href="#!").article__link читать далее
                .col-sm-6
                  .article
                    span.article__date 17.09.2013
                    .article__title
                      a(href="#!") Ассоциация репетиторов запускает Индексрепетиторства
                    p.article__text Ассоциация репетиторов (Repetit.ru) существует более 6 лет, и все это время остается одним из лидеров в сфере профессионального подбора репетиторов и частных преподавателей. Ежегодно мы помогаем нескольким десяткам тысяч учеников найти своих наставников...
                      a(href="#!").article__link читать далее
                .col-sm-6
                  .article
                    span.article__date 17.09.2013
                    .article__title
                      a(href="#!") Ассоциация репетиторов запускает Индексрепетиторства
                    p.article__text Ассоциация репетиторов (Repetit.ru) существует более 6 лет, и все это время остается одним из лидеров в сфере профессионального подбора репетиторов и частных преподавателей. Ежегодно мы помогаем нескольким десяткам тысяч учеников найти своих наставников...
                      a(href="#!").article__link читать далее
                .col-sm-6
                  .article
                    span.article__date 17.09.2013
                    .article__title
                      a(href="#!") Ассоциация репетиторов запускает Индексрепетиторства
                    p.article__text Ассоциация репетиторов (Repetit.ru) существует более 6 лет, и все это время остается одним из лидеров в сфере профессионального подбора репетиторов и частных преподавателей. Ежегодно мы помогаем нескольким десяткам тысяч учеников найти своих наставников...
                      a(href="#!").article__link читать далее
              .row
                .col-sm-6
                  .article
                    span.article__date 17.09.2013
                    .article__title
                      a(href="#!") Ассоциация репетиторов запускает Индексрепетиторства
                    p.article__text Ассоциация репетиторов (Repetit.ru) существует более 6 лет, и все это время остается одним из лидеров в сфере профессионального подбора репетиторов и частных преподавателей. Ежегодно мы помогаем нескольким десяткам тысяч учеников найти своих наставников...
                      a(href="#!").article__link читать далее
                .col-sm-6
                  .article
                    span.article__date 17.09.2013
                    .article__title
                      a(href="#!") Ассоциация репетиторов запускает Индексрепетиторства
                    p.article__text Ассоциация репетиторов (Repetit.ru) существует более 6 лет, и все это время остается одним из лидеров в сфере профессионального подбора репетиторов и частных преподавателей. Ежегодно мы помогаем нескольким десяткам тысяч учеников найти своих наставников...
                      a(href="#!").article__link читать далее
                .col-sm-6
                  .article
                    span.article__date 17.09.2013
                    .article__title
                      a(href="#!") Ассоциация репетиторов запускает Индексрепетиторства
                    p.article__text Ассоциация репетиторов (Repetit.ru) существует более 6 лет, и все это время остается одним из лидеров в сфере профессионального подбора репетиторов и частных преподавателей. Ежегодно мы помогаем нескольким десяткам тысяч учеников найти своих наставников...
                      a(href="#!").article__link читать далее
                .col-sm-6
                  .article
                    span.article__date 17.09.2013
                    .article__title
                      a(href="#!") Ассоциация репетиторов запускает Индексрепетиторства
                    p.article__text Ассоциация репетиторов (Repetit.ru) существует более 6 лет, и все это время остается одним из лидеров в сфере профессионального подбора репетиторов и частных преподавателей. Ежегодно мы помогаем нескольким десяткам тысяч учеников найти своих наставников...
                      a(href="#!").article__link читать далее

        
      //= template/footer.jade
