doctype html
html(xmlns='http://www.w3.org/1999/xhtml')

  //= template/head.jade

  body
    #wrapper

      //= template/header.jade

      section.middle
        .container
          .content
            h1.title-h1 Регистрация репетитора
            .registration-wrap
              .registration-content
                
                .steps
                  .step
                    .step__counter ШАГ 1
                    p личные данные

                  .step
                    .step__counter ШАГ 2
                    p профессиональные навыки

                  .step.step--active
                    .step__counter ШАГ 3
                    p дополнительная информация

                form.registration-form.clearfix

                  .form-group
                    label.control-label(for='input-1') Удобное время для занятий
                    .input-wrap
                      input#input-1(type='text')

                  .form-group
                    label.control-label(for='input-2')  Место проведения занятий «у себя» (метро, адрес)
                    .input-wrap
                      input#input-2(type='text', placeholder='Например: м. Ботаническая, ул. Академика Шварца ')
                  
                  .form-group
                    label.control-label  Наличие домашних животных:
                    .input-wrap.special-input-wrap
                      select
                        option есть
                        option нету

                      label.inner-label Вы курите?

                      select
                        option да
                        option нет
                        option не знаю

                  .form-group
                    label.control-label(for='input-3')  Возможность выезда (города, районы, ветки метро)
                    .input-wrap
                      input#input-3(type='text')

                  .form-group
                    label.control-label(for='input-2') Наличие автомобиля:
                    .input-wrap
                      select
                        option есть
                        option нету

                  .row
                    .col-sm-6
                      .subtitle Допустимые возрастные группы учеников

                      .checkbox
                        input(type="checkbox" class="checkbox" id="checkbox-1")
                        label(for="checkbox-1") <span></span>
                          .checkbox__text Дошкольники

                      .checkbox
                        input(type="checkbox" class="checkbox" id="checkbox-2")
                        label(for="checkbox-2") <span></span>
                          .checkbox__text Начальная школа (1-4 класс)

                      .checkbox
                        input(type="checkbox" class="checkbox" id="checkbox-3")
                        label(for="checkbox-3") <span></span>
                          .checkbox__text Средняя школа (5-7 класс)

                      .checkbox
                        input(type="checkbox" class="checkbox" id="checkbox-4")
                        label(for="checkbox-4") <span></span>
                          .checkbox__text Средняя школа (8-9 класс)

                      .checkbox
                        input(type="checkbox" class="checkbox" id="checkbox-5")
                        label(for="checkbox-5") <span></span>
                          .checkbox__text Выпускники и абитуриенты (10-11 класс)

                      .checkbox
                        input(type="checkbox" class="checkbox" id="checkbox-6")
                        label(for="checkbox-6") <span></span>
                          .checkbox__text Студенты техникумов

                      .checkbox
                        input(type="checkbox" class="checkbox" id="checkbox-7")
                        label(for="checkbox-7") <span></span>
                          .checkbox__text Студенты вузов

                      .checkbox
                        input(type="checkbox" class="checkbox" id="checkbox-8")
                        label(for="checkbox-8") <span></span>
                          .checkbox__text Взрослые

                      .checkbox
                        input(type="checkbox" class="checkbox" id="checkbox-9")
                        label(for="checkbox-9") <span></span>
                          .checkbox__text Пожилые

                    .col-sm-6
                      .subtitle Допустимые цели обучения

                      .checkbox
                        input(type="checkbox" class="checkbox" id="checkbox-10")
                        label(for="checkbox-10") <span></span>
                          .checkbox__text Для себя

                      .checkbox
                        input(type="checkbox" class="checkbox" id="checkbox-11")
                        label(for="checkbox-11") <span></span>
                          .checkbox__text Для жизни

                      .checkbox
                        input(type="checkbox" class="checkbox" id="checkbox-1")
                        label(for="checkbox-1") <span></span>
                          .checkbox__text Для работы

                      .checkbox
                        input(type="checkbox" class="checkbox" id="checkbox-12")
                        label(for="checkbox-12") <span></span>
                          .checkbox__text Повышение успеваемости (второстепенные предметы)

                      .checkbox
                        input(type="checkbox" class="checkbox" id="checkbox-13")
                        label(for="checkbox-13") <span></span>
                          .checkbox__text Олимпиады и дополнительные экзамены

                      .checkbox
                        input(type="checkbox" class="checkbox" id="checkbox-14")
                        label(for="checkbox-14") <span></span>
                          .checkbox__text Повышение успеваемости (профильные предметы)

                      .checkbox
                        input(type="checkbox" class="checkbox" id="checkbox-15")
                        label(for="checkbox-15") <span></span>
                          .checkbox__text Важные экзамены

                  .row.form-group
                    .col-sm-6
                      .subtitle Допустимые текущие уровни учеников

                      .checkbox
                        input(type="checkbox" class="checkbox" id="checkbox-16")
                        label(for="checkbox-16") <span></span>
                          .checkbox__text Начальный

                      .checkbox
                        input(type="checkbox" class="checkbox" id="checkbox-17")
                        label(for="checkbox-17") <span></span>
                          .checkbox__text Слабый (оценка 2-3)

                      .checkbox
                        input(type="checkbox" class="checkbox" id="checkbox-18")
                        label(for="checkbox-18") <span></span>
                          .checkbox__text Средний (оценка 3-4)

                      .checkbox
                        input(type="checkbox" class="checkbox" id="checkbox-19")
                        label(for="checkbox-19") <span></span>
                          .checkbox__text Хороший (оценка 4-5)

                      .checkbox
                        input(type="checkbox" class="checkbox" id="checkbox-20")
                        label(for="checkbox-20") <span></span>
                          .checkbox__text Отличный (оценка 5+)

                    .col-sm-6
                      .subtitle Пол учеников

                      .checkbox
                        input(type="checkbox" class="checkbox" id="checkbox-21")
                        label(for="checkbox-21") <span></span>
                          .checkbox__text Не принципиально

                      .checkbox
                        input(type="checkbox" class="checkbox" id="checkbox-22")
                        label(for="checkbox-22") <span></span>
                          .checkbox__text Только женщины

                      .checkbox
                        input(type="checkbox" class="checkbox" id="checkbox-23")
                        label(for="checkbox-23") <span></span>
                          .checkbox__text Только мужчины
                  
                  .form-group
                    label.control-label(for='input-5') Коротко о себе для учеников
                    .input-wrap
                      input#input-5(type='text')

                  .form-group
                    label.control-label  Юридическое лицо, приём оплаты
                    .input-wrap.max-select 
                      select
                        option WebMoney
                        option Payoneer
                        option SBR

                  .form-group
                    label.control-label(for='input-6') Другая информация
                    .input-wrap
                      input#input-6(type='text')

                  .form-group
                    label.control-label Откуда вы узнали о нашем сервисе?
                    .input-wrap.max-select
                      select
                        option VK
                        option Газета
                        option По телевизору

                  .form-group
                    label.control-label-max Загрузить дополнительные файлы, сканы дипломов, резюме, рекомендации и другую информацию

                    .file-input-wrap
                      input.chose_file_input(type='file', value='', required='', aria-required='true')
                      a.chose_file(href='#') загрузить файлы
                      .chose_file_text

                  .form-group
                    .checkbox
                      input(type="checkbox" class="checkbox" id="checkbox-30")
                      label(for="checkbox-30") <span></span>
                        .checkbox__text Нажимая кнопку «Продолжить», я подтверждаю ознакомление и согласие с условиями публичной оферты в полном объёме.

                  .submit-wrap
                    button(type="submit").btn.btn-large продолжить


              .registration-aside

                .teacher-preview.teacher-preview--index.teacher-preview--default
                  .teacher-preview__header
                    .teacher-preview__avatar
                      img(src="https://api.fnkr.net/testimg/106x106/c4c4c4/FFF/?text=106x106", alt="")
                    .rating-wrap
                      .rating-title рейтинг
                      ul.rating
                        li.current(style='width:0%;')
                          span.star1
                        li
                          span.star2
                        li
                          span.star3
                        li
                          span.star4
                        li
                          span.star5


                      .rating-title цены
                      ul.prices-rating
                        li.current(style='width:37%;')
                          span.point-1
                        li
                          span.point-2
                        li
                          span.point-3
                        li
                          span.point-4

                  .teacher-preview__body
                    .teacher-preview__name Смирнова Карина Игоревна
                    .teacher-preview__profession репетитор по английскому языку
                    .teacher-info__description <span class="teacher-info__description-title">Образование:</span> диплом с отличием
                    .teacher-info__description <span class="teacher-info__description-title">Стаж:</span> 2 года
                    .teacher-info__description <span class="teacher-info__description-title">Репетитор:</span> с 2007 г
                    .buttons-wrap
                      a(href="#!").color-grey подробнее
                      a(href="#!").color-blue 97 отзывов
                
                .progress 
                  .progress-bar(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%;') 
                  .progress-value 60%

      //= template/footer.jade
