doctype html
html(xmlns='http://www.w3.org/1999/xhtml')

  //= template/head.jade

  body
    #wrapper

      //= template/header.jade

      section.middle
        .container
          .row.flex-row
            .col-md-8.col-lg-9
              .content.content--paddng-right-20
                h1.title-h1 Отзывы о репетиторах
                .caption-italic Каждый письменный отзыв перед публикацией проходит обязательную проверку на неподдельность. Анонимные сообщения не рассматриваются. Тексты не редактируются и не фильтруются — все прошедшие проверку публикуются «как есть».
                form.review-search-form
                  .flex-col.flex-input-wrap
                    input(type="text" placeholder="Найти отзывы по репетитору (ФИО)")
                  .flex-col
                    button(type="submit").btn найти
                
                .review-list
                  .review
                    .review__title 
                      a(href="#!").review__addresser Плиско Галина Аркадьевна
                      span (русский язык)

                    p Большое счастье, что мы встретили эту замечательную девушку на нашем пути к сдаче ЕГЭ. Несмотря на свой юный возраст , она проявила себя ответственным и профессиональным педологом!!
                    p За столь короткое время (с февраля до мая) она смогла прекрасно подготовить к предстоящим испытаниям. Марина Михайловна успела охватить все темы, нужные определения заучивались и регулярно повторялись, была наработана огромная база аргументов для эссе и т.д. . В результате такого подхода задания экзамена были понятны , тонкости отдельных заданий проработаны. Результат более 80 балов.
                    p Отдельно хочется отметить добродушие и коммуникабельность преподавателя, каждое занятие было радостью общения с интересным и умным наставником.
                    .review__owner Варвара 
                      span.review__post-date 27 июня 2016, № 767337
                  .review
                    .review__title 
                      a(href="#!").review__addresser Плиско Галина Аркадьевна
                      span (русский язык)

                    p Большое счастье, что мы встретили эту замечательную девушку на нашем пути к сдаче ЕГЭ. Несмотря на свой юный возраст , она проявила себя ответственным и профессиональным педологом!!
                    p За столь короткое время (с февраля до мая) она смогла прекрасно подготовить к предстоящим испытаниям. Марина Михайловна успела охватить все темы, нужные определения заучивались и регулярно повторялись, была наработана огромная база аргументов для эссе и т.д. . В результате такого подхода задания экзамена были понятны , тонкости отдельных заданий проработаны. Результат более 80 балов.
                    p Отдельно хочется отметить добродушие и коммуникабельность преподавателя, каждое занятие было радостью общения с интересным и умным наставником.
                    .review__owner Варвара 
                      span.review__post-date 27 июня 2016, № 767337
                  .review
                    .review__title 
                      a(href="#!").review__addresser Плиско Галина Аркадьевна
                      span (русский язык)

                    p Большое счастье, что мы встретили эту замечательную девушку на нашем пути к сдаче ЕГЭ. Несмотря на свой юный возраст , она проявила себя ответственным и профессиональным педологом!!
                    p За столь короткое время (с февраля до мая) она смогла прекрасно подготовить к предстоящим испытаниям. Марина Михайловна успела охватить все темы, нужные определения заучивались и регулярно повторялись, была наработана огромная база аргументов для эссе и т.д. . В результате такого подхода задания экзамена были понятны , тонкости отдельных заданий проработаны. Результат более 80 балов.
                    p Отдельно хочется отметить добродушие и коммуникабельность преподавателя, каждое занятие было радостью общения с интересным и умным наставником.
                    .review__owner Варвара 
                      span.review__post-date 27 июня 2016, № 767337
                  .review
                    .review__title 
                      a(href="#!").review__addresser Плиско Галина Аркадьевна
                      span (русский язык)

                    p Большое счастье, что мы встретили эту замечательную девушку на нашем пути к сдаче ЕГЭ. Несмотря на свой юный возраст , она проявила себя ответственным и профессиональным педологом!!
                    p За столь короткое время (с февраля до мая) она смогла прекрасно подготовить к предстоящим испытаниям. Марина Михайловна успела охватить все темы, нужные определения заучивались и регулярно повторялись, была наработана огромная база аргументов для эссе и т.д. . В результате такого подхода задания экзамена были понятны , тонкости отдельных заданий проработаны. Результат более 80 балов.
                    p Отдельно хочется отметить добродушие и коммуникабельность преподавателя, каждое занятие было радостью общения с интересным и умным наставником.
                    .review__owner Варвара 
                      span.review__post-date 27 июня 2016, № 767337
                  .review
                    .review__title 
                      a(href="#!").review__addresser Плиско Галина Аркадьевна
                      span (русский язык)

                    p Большое счастье, что мы встретили эту замечательную девушку на нашем пути к сдаче ЕГЭ. Несмотря на свой юный возраст , она проявила себя ответственным и профессиональным педологом!!
                    p За столь короткое время (с февраля до мая) она смогла прекрасно подготовить к предстоящим испытаниям. Марина Михайловна успела охватить все темы, нужные определения заучивались и регулярно повторялись, была наработана огромная база аргументов для эссе и т.д. . В результате такого подхода задания экзамена были понятны , тонкости отдельных заданий проработаны. Результат более 80 балов.
                    p Отдельно хочется отметить добродушие и коммуникабельность преподавателя, каждое занятие было радостью общения с интересным и умным наставником.
                    .review__owner Варвара 
                      span.review__post-date 27 июня 2016, № 767337
                  .review
                    .review__title 
                      a(href="#!").review__addresser Плиско Галина Аркадьевна
                      span (русский язык)

                    p Большое счастье, что мы встретили эту замечательную девушку на нашем пути к сдаче ЕГЭ. Несмотря на свой юный возраст , она проявила себя ответственным и профессиональным педологом!!
                    p За столь короткое время (с февраля до мая) она смогла прекрасно подготовить к предстоящим испытаниям. Марина Михайловна успела охватить все темы, нужные определения заучивались и регулярно повторялись, была наработана огромная база аргументов для эссе и т.д. . В результате такого подхода задания экзамена были понятны , тонкости отдельных заданий проработаны. Результат более 80 балов.
                    p Отдельно хочется отметить добродушие и коммуникабельность преподавателя, каждое занятие было радостью общения с интересным и умным наставником.
                    .review__owner Варвара 
                      span.review__post-date 27 июня 2016, № 767337

                .pagination-wrap
                  div.pagination-title Показаны анкеты: 20-26 из 2451
                  ul.pagination
                    li
                      a(href='#') <
                    li
                      a(href='#') 1
                    li
                      a(href='#') 2
                    li
                      a(href='#') 3
                    li
                      a(href='#') 4
                    li
                      a(href='#') 5
                    li.active
                      a(href='#') 6
                    li
                      a(href='#') 7
                    li
                      a(href='#') 8
                    li
                      a(href='#') >

            aside.right-aside.col-md-4.col-lg-3
              .review-btns
                a(href="#!").btn.btn-white оставить отзыв о репетиторе
                a(href="#!").btn.btn-white оставить отзыв о сервисе
              
              .statistics
                .statistics__title Статистика письменных 
                .statistics__subtitle (добровольных) отзывов, которые клиенты оставляют на сайте по своей инициативе
                table.statistics__table
                  tr
                    td 5+ 
                    td лучше не бывает!             
                    td 59316
                    td 39.2%
                  tr
                    td 5              
                    td отлично
                    td 80028
                    td 52.9%
                  tr
                    td 5−              
                    td почти отлично
                    td 1908
                    td 1.3%
                  tr
                    td 4+              
                    td вполне хорошо
                    td 2306
                    td 1.5%
                  tr
                    td 4                   
                    td хорошо
                    td 4710
                    td 3.1%
                  tr
                    td 4−               
                    td почти хорошо
                    td 606
                    td 0.4%
                  tr
                    td 3+                  
                    td более-менее
                    td 257
                    td 0.2%
                  tr
                    td 3                    
                    td так себе...
                    td 1196
                    td 0.8%
                  tr
                    td 3−                      
                    td плохо)
                    td 321 
                    td 0.2%
                  tr
                    td 2                    
                    td ужасно
                    td 676
                    td 0.4%


              .statistics
                .statistics__title Статистика устных 
                .statistics__subtitle (обязательных) отзывов, которые администраторы компании собирают по телефону у каждого клиента
                table.statistics__table
                  tr
                    td положительный
                    td 290764
                    td 96.0%
                  tr
                    td без оценки 
                    td 9199
                    td 3.0%
                  tr
                    td посредственный
                    td 1744
                    td 0.6%
                  tr
                    td негативный
                    td 1298
                    td 0.4%
               
      //= template/footer.jade
