doctype html
html(xmlns='http://www.w3.org/1999/xhtml')

  //= template/head.jade

  body
    #wrapper

      //= template/header.jade

      section.middle
        .container
          .content
            h1.title-h1 Подбор репетитора
            form.search-form

              .section-1
                .search-form__title Программа занятий:
                .checkbox.checkbox--margin-bottom-30
                  input(type="checkbox" class="checkbox" id="checkbox-1")
                  label(for="checkbox-1") <span></span>
                    .checkbox__text дошкольное образование

                .checkbox.checkbox--margin-bottom-30
                  input(type="checkbox" class="checkbox" id="checkbox-2")
                  label(for="checkbox-2") <span></span> 
                    .checkbox__text начальные классы

                .checkbox.checkbox--margin-bottom-30
                  input(type="checkbox" class="checkbox" id="checkbox-3")
                  label(for="checkbox-3") <span></span>
                    .checkbox__text 7-9 класс

                .checkbox.checkbox--margin-bottom-30
                  input(type="checkbox" class="checkbox" id="checkbox-4")
                  label(for="checkbox-4") <span></span>
                    .checkbox__text 10-11 класс

                .checkbox.checkbox--margin-bottom-30
                  input(type="checkbox" class="checkbox" id="checkbox-5")
                  label(for="checkbox-5") <span></span>
                    .checkbox__text ЕГЭ

                .checkbox.checkbox--margin-bottom-30
                  input(type="checkbox" class="checkbox" id="checkbox-6")
                  label(for="checkbox-6") <span></span>
                    .checkbox__text ВУЗЫ

              .section-2
                .search-form__title Предметы*
                .row
                  .col-sm-6

                    .checkbox
                      input(type="checkbox" class="checkbox" id="checkbox-7")
                      label(for="checkbox-7") <span></span>
                        .checkbox__text математика 

                    .checkbox
                      input(type="checkbox" class="checkbox" id="checkbox-8")
                      label(for="checkbox-8") <span></span>
                        .checkbox__text английский язык 
                    
                    .checkbox
                      input(type="checkbox" class="checkbox" id="checkbox-9")
                      label(for="checkbox-9") <span></span>
                        .checkbox__text русский язык 

                    .checkbox
                      input(type="checkbox" class="checkbox" id="checkbox-10")
                      label(for="checkbox-10") <span></span>
                        .checkbox__text информатика  
                    
                    .checkbox
                      input(type="checkbox" class="checkbox" id="checkbox-11")
                      label(for="checkbox-11") <span></span>
                        .checkbox__text программирование  

                    .checkbox
                      input(type="checkbox" class="checkbox" id="checkbox-12")
                      label(for="checkbox-12") <span></span>
                        .checkbox__text экономика  

                    .checkbox
                      input(type="checkbox" class="checkbox" id="checkbox-13")
                      label(for="checkbox-13") <span></span>
                        .checkbox__text история  

                    .checkbox
                      input(type="checkbox" class="checkbox" id="checkbox-14")
                      label(for="checkbox-14") <span></span>
                        .checkbox__text химия  

                    .checkbox
                      input(type="checkbox" class="checkbox" id="checkbox-15")
                      label(for="checkbox-15") <span></span>
                        .checkbox__text биология  
                    
                    .checkbox
                      input(type="checkbox" class="checkbox" id="checkbox-16")
                      label(for="checkbox-16") <span></span>
                        .checkbox__text экономика  
                    
                    .checkbox
                      input(type="checkbox" class="checkbox" id="checkbox-17")
                      label(for="checkbox-17") <span></span>
                        .checkbox__text история 
                    
                    .checkbox
                      input(type="checkbox" class="checkbox" id="checkbox-18")
                      label(for="checkbox-18") <span></span>
                        .checkbox__text обществознание 

                    .checkbox
                      input(type="checkbox" class="checkbox" id="checkbox-33")
                      label(for="checkbox-33") <span></span>
                        .checkbox__text литература 

                    .checkbox
                      input(type="checkbox" class="checkbox" id="checkbox-19")
                      label(for="checkbox-19") <span></span>
                        .checkbox__text география 

                  .col-sm-6

                    .checkbox
                      input(type="checkbox" class="checkbox" id="checkbox-20")
                      label(for="checkbox-20") <span></span>
                        .checkbox__text начальная школа

                    .checkbox
                      input(type="checkbox" class="checkbox" id="checkbox-21")
                      label(for="checkbox-21") <span></span>
                        .checkbox__text немецкий язык

                    .checkbox
                      input(type="checkbox" class="checkbox" id="checkbox-22")
                      label(for="checkbox-22") <span></span>
                        .checkbox__text французский язык

                    .checkbox
                      input(type="checkbox" class="checkbox" id="checkbox-23")
                      label(for="checkbox-23") <span></span>
                        .checkbox__text китайский язык

                    .checkbox
                      input(type="checkbox" class="checkbox" id="checkbox-24")
                      label(for="checkbox-24") <span></span>
                        .checkbox__text испанский язык

                    .checkbox
                      input(type="checkbox" class="checkbox" id="checkbox-34")
                      label(for="checkbox-34") <span></span>
                        .checkbox__text итальянский язык

                    .checkbox
                      input(type="checkbox" class="checkbox" id="checkbox-25")
                      label(for="checkbox-25") <span></span>
                        .checkbox__text японский язык

                    .checkbox
                      input(type="checkbox" class="checkbox" id="checkbox-26")
                      label(for="checkbox-26") <span></span>
                        .checkbox__text украинский язык

                    .checkbox
                      input(type="checkbox" class="checkbox" id="checkbox-27")
                      label(for="checkbox-27") <span></span>
                        .checkbox__text казахский язык

                    .checkbox
                      input(type="checkbox" class="checkbox" id="checkbox-28")
                      label(for="checkbox-28") <span></span>
                        .checkbox__text белорусский язык

                    .checkbox
                      input(type="checkbox" class="checkbox" id="checkbox-29")
                      label(for="checkbox-29") <span></span>
                        .checkbox__text музыка

                    .checkbox
                      input(type="checkbox" class="checkbox" id="checkbox-30")
                      label(for="checkbox-30") <span></span>
                        .checkbox__text подготовка к школе

                    .checkbox
                      input(type="checkbox" class="checkbox" id="checkbox-31")
                      label(for="checkbox-31") <span></span>
                        .checkbox__text логопеды

                    .checkbox
                      input(type="checkbox" class="checkbox" id="checkbox-32")
                      label(for="checkbox-32") <span></span>
                        .checkbox__text другие предметы

              .section-3
                .search-form__title Параметры
                .form-group
                  input(type="text" placeholder="Район")
                .form-group
                  input(type="text" placeholder="Место")
                .form-group
                  input(type="text" placeholder="Продолжительность")

                .filter-group
                  .search-form__title Стоимость
                  .slider-price
                    form(action='#', method='#')
                      #sliderPrice
                      .prices-wrap
                        label(for='price')
                          | от
                          span#price.price(type='text', name='price')
                          | р/час
                        label(for='price2')
                          | до
                          span#price2.price(type='text', name='price2')
                          | р/час

                .search-form__title О преподавателе:
                .sex
                  .checkbox
                    input(type="checkbox" class="checkbox" id="checkbox-51")
                    label(for="checkbox-51") <span></span> М

                  .checkbox
                    input(type="checkbox" class="checkbox" id="checkbox-52")
                    label(for="checkbox-52") <span></span> Ж

                .form-group
                  input(type="text" placeholder="Уровень знаний")
                .form-group
                  input(type="text" placeholder="Опыт работы")

                button(type="submit").btn.pull-right Искать

      //= template/footer.jade
