doctype html
html(xmlns='http://www.w3.org/1999/xhtml')

  //= template/head.jade

  body
    #wrapper

      //= template/header.jade

      section.middle
        .container
          .content
            h1.title-h1 ВУЗЫ Москвы

            ul.univesity-list
              li.item
                .item__image
                  img(src="https://api.fnkr.net/testimg/50x62/c4c4c4/FFF/?50x62", alt="avatar")
                .item__body
                  a(href="#!").item__title МГУ
                  .item__subtitle Московский государственный университет им. М.В. Ломоносова
                  .item__text Репетиторы из МГУ (8435)
              li.item
                .item__image
                  img(src="https://api.fnkr.net/testimg/50x62/c4c4c4/FFF/?50x62", alt="avatar")
                .item__body
                  a(href="#!").item__title МГУ
                  .item__subtitle Московский государственный университет им. М.В. Ломоносова
                  .item__text Репетиторы из МГУ (8435)
              li.item
                .item__image
                  img(src="https://api.fnkr.net/testimg/50x62/c4c4c4/FFF/?50x62", alt="avatar")
                .item__body
                  a(href="#!").item__title МГУ
                  .item__subtitle Московский государственный университет им. М.В. Ломоносова
                  .item__text Репетиторы из МГУ (8435)
              li.item
                .item__image
                  img(src="https://api.fnkr.net/testimg/50x62/c4c4c4/FFF/?50x62", alt="avatar")
                .item__body
                  a(href="#!").item__title МГУ
                  .item__subtitle Московский государственный университет им. М.В. Ломоносова
                  .item__text Репетиторы из МГУ (8435)
              li.item
                .item__image
                  img(src="https://api.fnkr.net/testimg/50x62/c4c4c4/FFF/?50x62", alt="avatar")
                .item__body
                  a(href="#!").item__title МГУ
                  .item__subtitle Московский государственный университет им. М.В. Ломоносова
                  .item__text Репетиторы из МГУ (8435)
              li.item
                .item__image
                  img(src="https://api.fnkr.net/testimg/50x62/c4c4c4/FFF/?50x62", alt="avatar")
                .item__body
                  a(href="#!").item__title МГУ
                  .item__subtitle Московский государственный университет им. М.В. Ломоносова
                  .item__text Репетиторы из МГУ (8435)

      //= template/footer.jade
